body {
    font-family: Arial;
    margin: 20px;
    background-color: #091811; 
    color: white;
}

h1 {
    color: #7ace99; 
}

div {
    padding: 15px;
    border: 1px solid #7ace99;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #020617;
}

input, textarea, button {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 6px;
    border: 1px solid  #7ace99;
    background-color: #091811;
    color: white;
}

button {
    background-color:  #7ace99;
    color: black;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.home {
    text-align: center;
    margin-top: 10px;
    background-color: black;
}

.tagline {
    font-size: 18px;
    margin: 20px 0;
    color: white;
}

.logo-img {
    width: 350px;
    margin: 20px 0;
    border-radius: 10px;
}

.actions {
    margin-top: 20px;
}

.actions button {
    margin: 10px;
    width: 515px;
}